<div class="d-flex justify-content-center">
    <mat-card class="border rounded-3 border-3 mt-5 w-75">
        <h2>Create new evidention of blood usage</h2>
        <hr>
        <div class="my-2">
            <mat-form-field appearance="fill">
                <mat-label>Blood type</mat-label>
                <mat-select name="bloodType" [(ngModel)]="selectedBloodType">
                    <mat-option *ngFor="let bt of bloodTypes" [value]="bt">{{bt}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="my-2">
            <mat-form-field appearance="fill">
                <mat-label>Amopunt</mat-label>
                <input type="number" matInput [(ngModel)]="amount">
            </mat-form-field>
        </div>
        <div class="my-2">
            <mat-form-field appearance="fill">
                <mat-label>Reason</mat-label>
                <textarea matInput [(ngModel)]="reason"></textarea>
            </mat-form-field>
        </div>
        <div class="mb-4">
            <button mat-raised-button color="primary" (click)="createRecord()">Create</button>
        </div>
        <div style="color: {{statusColor}}">
            <h3>{{statusText}}</h3>
        </div>
    </mat-card>
</div>