<div class="container">
    <div>
        <h2>Blood Bank Registration</h2>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="bloodBank.Name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="bloodBank.EmailAddress">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Server address</mat-label>
            <input matInput [(ngModel)]="bloodBank.ServerAddress">
        </mat-form-field><br>
        <button mat-stroked-button (click)="createBloodBank()" [disabled]="!bloodBank.EmailAddress.length || !bloodBank.Name.length || !bloodBank.ServerAddress">
            Submit
        </button>
    </div>
</div>