<div class="container text-center">
    <button class="m-4" mat-raised-button color="accent" matTooltip="Prijem novog pacijenta">
        <mat-icon>add_circle</mat-icon>
        Novi konzilijum
    </button>

<table mat-table >
    <ng-container matColumnDef="theme">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Tema Konzilijuma </th>
        <td mat-cell *matCellDef="let app" class="clickable cell-center" >1</td>
    </ng-container>
    <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Broj sobe </th>
        <td mat-cell *matCellDef="let app" class="cell-center"></td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Datum i vreme odrzavanja </th>
        <td mat-cell *matCellDef="let app" class="clickable cell-center" ></td>
    </ng-container>
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Trajanje </th>
        <td mat-cell *matCellDef="let app" class="cell-center"></td>
    </ng-container>
    <ng-container matColumnDef="list">
        <th mat-header-cell *matHeaderCellDef class="cell-center">Spisak lekara</th>
        <td mat-cell *matCellDef="let app" class="cell-center">
            <button mat-icon-button (click)="openDoctorListDialog()">
                <mat-icon matTooltip="Tretman">border_color</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>