<div class="container">
    <p>Svi doktorovi pregledi</p>
    <div class="table-header">
      <button class="add-button" mat-mini-fab matTooltip="New room" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
      </button>
    </div>
    
    <mat-tab-group>
        <mat-tab label="Pregledi"><app-doctor-current-app [isCurrentAppointment]="true"></app-doctor-current-app></mat-tab>
        <mat-tab label="Prosli pregledi"><app-doctor-current-app [isCurrentAppointment]="false"></app-doctor-current-app></mat-tab>
    </mat-tab-group>
  </div>
