 <div class="basic-container">
    <h1>
        News
    </h1>
    <mat-tab-group>
        <mat-tab label="Pending">
            <mat-grid-list  cols="4" rowHeight="400px" gutterSize="20px">
                <mat-grid-tile *ngFor="let i of news" >
                    <mat-card [style.width]="'100%'" class="tile">
                        <div [style.height]="'100%'" fxLayout="row">
        
                            <div [style.height]="'100%'" fxFlex fxFlexAlign="center" fxLayout="column">
                                <div fxLayout="row">
                                    <small>{{i.timestamp| date: "MM-dd-yyyy HH:mm:ss"}}</small>
                                </div>
                                <h1>
                                    {{i.title}}
                                </h1>
                                <div fxLayout="row" [style.flex]="'1'">
                                    {{i.body}}
                                </div>
                                <div mat-dialog-actions class = 'myBtn'>
                                    <button class = 'btnArc' mat-button (click)="archive(i.id)">Archive</button>
                                    <button class = 'btnPbl' mat-button (click)="publish(i.id)">Publish</button>
                                  </div>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Published">
            <mat-grid-list  cols="4" rowHeight="400px" gutterSize="20px">
                <mat-grid-tile *ngFor="let i of newsPubl" >
                    <mat-card [style.width]="'100%'" class="tile">
                        <div [style.height]="'100%'" fxLayout="row">
        
                            <div [style.height]="'100%'" fxFlex fxFlexAlign="center" fxLayout="column">
                                <div fxLayout="row">
                                    <small>{{i.timestamp| date: "MM-dd-yyyy HH:mm:ss"}}</small>
                                </div>
                                <h1>
                                    {{i.title}}
                                </h1>
                                <div fxLayout="row" [style.flex]="'1'">
                                    {{i.body}}
                                </div>
                                <div mat-dialog-actions class = 'myBtn'>
                                    <button class = 'btnArc' mat-button (click)="archive(i.id)">Archive</button>
                                    </div>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Archived"> 
            <mat-grid-list  cols="4" rowHeight="400px" gutterSize="20px">
                <mat-grid-tile *ngFor="let i of newsArch" >
                    <mat-card [style.width]="'100%'" class="tile">
                        <div [style.height]="'100%'" fxLayout="row">
        
                            <div [style.height]="'100%'" fxFlex fxFlexAlign="center" fxLayout="column">
                                <div fxLayout="row">
                                    <small>{{i.timestamp| date: "MM-dd-yyyy HH:mm:ss"}}</small>
                                </div>
                                <h1>
                                    {{i.title}}
                                </h1>
                                <div fxLayout="row" [style.flex]="'1'">
                                    {{i.body}}
                                </div>
                                <div mat-dialog-actions class = 'myBtn'>
                                    <button class = 'btnPbl' mat-button (click)="publish(i.id)">Publish</button>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</div>