<h1 mat-dialog-title>Blood supplies {{data.bloodType}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose blood type</mat-label>
      <input type="text"
            autocomplete="off" required matInput
            aria-label="Number"
            formControlName="bloodType"
            [matAutocomplete]="auto"
            [(ngModel)]="data.bloodType">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quantity [L]</mat-label>
      <input type="number"
            min="0"
            aria-label="Number"
            matInput
            formControlName="quantity"
            [(ngModel)]="data.quantity"
            >
      <mat-autocomplete #auto="matAutocomplete">
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose blood bank</mat-label>
      <!-- <input type="text"
            autocomplete="off" required matInput
            aria-label="Number"
            formControlName="name"
            [matAutocomplete]="auto"
            [(ngModel)]="data.name">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let bank of bloodBanks">
          {{bank.name}}
        </mat-option>
      </mat-autocomplete> -->
      <mat-select formControlName="name" [(ngModel)]="data.name">
        <mat-option *ngFor="let bank of bloodBanks" [value]="bank.name">
          {{bank.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Delivery day</mat-label>
      <input type="number"
            min="0"
            aria-label="Number"
            matInput
            min="1" 
            max="26"
            formControlName="deliveryDay"
            [(ngModel)]="data.deliveryDay"
            >
      <mat-autocomplete #auto="matAutocomplete">
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox class="example-margin" formControlName="activeStatus" [(ngModel)]="data.activeStatus">Active status</mat-checkbox>
    <br/>
    <mat-checkbox class="example-margin" formControlName="urgent" [(ngModel)]="data.urgent">Urgent!</mat-checkbox>
  </form>
  <div *ngIf="!firstTime">
    <div *ngIf="haveSupply; else elseBlock" class="bloodAvailable">
      Blood is available for transfer
    </div>
    <ng-template #elseBlock>
      <div class="bloodNotAvailable">
        Blood is not available for transfer
      </div>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="true" (click)="onCheckClick(data.quantity, data.bloodType, data.name, data.urgent, data.activeStatus, data.deliveryDay)" cdkFocusInitial [disabled]="!data.bloodType.length">Check</button>
</div>