<div class = "row">
    <div class="col" id="roomMap">
    </div>
    <div class="col position" *ngIf="showRoomDetailComponent">
        <mat-card>
            <mat-card-title>
                Room informations:
            </mat-card-title>
            <mat-card-content>
            <p>Name: {{temp.room.name}}</p> 
            <p>Description: {{temp.room.description}}</p>
            <p>Number: {{temp.room.number}}</p>
            <p>Equipment List: {{temp.room.equipmentList.length}}</p>
            </mat-card-content>
            <button class="add-button" mat-mini-fab matTooltip="Edit room" (click)="openEditDialog()">Edit</button>
        </mat-card>
        
    </div>
</div>
