<div class = "row">
    <div class="justify-left">
        <button style="margin-left:0;" style="color: #192830; background-color:#89dee2 ;"  mat-raised-button color="primary" id ="button" matTooltip="Go back to floors" (click)="goBack()"><mat-icon>arrow_back</mat-icon> Floors</button>
    </div>
    <div class="col" id="roomMap" style="background-color: #192830; margin-left: 5%; margin-top:5%">
    </div>
    <div class="col " id = "divDialog">
        <div class="row">
            <div class="col position">
                <mat-card  *ngIf="showRoomDetailComponent" style="background-color: #192830; border: 1px solid black;">
                    <mat-card-title style="color: #89dee2">
                        Room informations:
                    </mat-card-title>
                    <mat-card-content style="color: #e3e2d4">
                    <p>Name: {{temp.room.name}}</p> 
                    <p>Description: {{temp.room.description}}</p>
                    <p>Number: {{temp.room.number}}</p>
                    <p>Equipment List: {{temp.room.roomsEquipment.length}}</p>
                    </mat-card-content>
                    <button class="add-button" style="color: #192830; background-color:#89dee2 ;" mat-mini-fab matTooltip="Edit room" (click)="openEditDialog()">Edit</button>
                    <button class="equipment-button" style="color: #192830; background-color:#89dee2 ;" mat-raised-button matTooltip="Show equipment" color="primary" id ="button1" (click)="openEqipmentDialog()">Equipment</button>
                    <button class="equipment-button" style="color: #192830; background-color:#89dee2 ;" mat-raised-button matTooltip="Move equipment" color="primary" id ="button1" (click)="moveEquipmentRedirect()">Move Equipment</button><br>
                    <br><button  class="equipment-button" style="color: #192830; background-color:#89dee2 ;" mat-raised-button matTooltip="Room schedule"  (click)="openRoomScheduleDialog()">Room schedule</button>
                </mat-card>
            </div>
        </div>
        
        
    </div>
</div>
