<div *ngIf="showTenders===1" class="basic-container">
    <h1 style="text-align: left;">
        Tenders
    </h1>
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="20px">
        <mat-grid-tile *ngFor="let i of tenders">
            <mat-card [style.width]="'100%'" class="tile">
                <div [style.height]="'100%'" fxLayout="row">

                    <div [style.height]="'100%'" fxFlex fxFlexAlign="center" fxLayout="column">
                        <small>Lasts until: {{i.deadline}}</small>
                        <div  *ngFor="let k of i.blood">                                                       
                                <br>
                                <div style="text-align: center;">
                                    <br>
                                    <p *ngIf="k.bloodType?.bloodGroup == '0'">blood type: O </p>            
                                    <p *ngIf="k.bloodType?.bloodGroup == '1'">blood type: A </p>
                                    <p *ngIf="k.bloodType?.bloodGroup == '2'">blood type: B </p>
                                    <p *ngIf="k.bloodType?.bloodGroup == '3'">blood type: AB </p>      
                                    <p *ngIf="k.bloodType?.rhFactor== '0'">RH factor: +</p>                         
                                    <p *ngIf="k.bloodType?.rhFactor == '1'"> -</p>                       
                                    <br>
                                    <p>blood amount:{{k.amount}}</p>
                                </div>
                        </div>
                        <div fxLayout="row" [style.flex]="'1'" style="text-align: left;">
                            <button (click)="viewApplications(i)">review applications</button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>

<div *ngIf="showTenders === 0" class="container">
    <div class="table-header">
        <p class="table-title">Tender Applications</p>
    </div>
    <table mat-table [dataSource]="tenderApplications">
        
        <ng-container matColumnDef="BloodBank.Name">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Bank </th>
            <td mat-cell *matCellDef="let tenderApplication" class="cell-center">{{tenderApplication.bloodBank? tenderApplication.bloodBank.name : ''}}</td>
        </ng-container>
        <ng-container matColumnDef="PriceInRSD">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Price </th>
            <td mat-cell *matCellDef="let tenderApplication" class="cell-center">{{tenderApplication.priceInRSD}}</td>
        </ng-container>
        <ng-container matColumnDef="Accept Offer">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Accept Offer  </th>
            <td mat-cell *matCellDef="let application" class="cell-center">
                <button class ="accept-button" mat-raised-button (click)="acceptOffer(application)">Accept</button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button (click)="cancel()" >Cancel</button>
</div>