<ul>
  <li><a routerLink="vacationRequests">Vacation Requests</a></li>
  <li><a routerLink="feedbacks">Feedbacks</a></li>
  <li><a routerLink="patientStatistics">Patient Statistics</a></li>
  <li><a routerLink="maps">Maps</a></li>
  <li><a routerLink="move-equipment">Move equipment</a></li>
  <li><a routerLink="report-configs">Report Configurations</a></li>
  <li><a routerLink="room-renovation">Room renovation</a></li>
  <li><a routerLink="user-blocking">User Blocking</a></li>
  <li><a routerLink="tenders/create">Create tender</a></li>
  <br>
  <li><a routerLink="bloodBanks">Blood banks</a></li>
  <li><a routerLink="managerNews">Blood bank news</a></li>
  <li (click)="logout()" style="float: right"><a>Log out</a></li>
</ul>
<!-- Ovaj navbar moze da se prebaci u posebnu komponentu navbar -->
<router-outlet></router-outlet>
