<ul>
  <li><a routerLink="vacationRequests">Vacation Requests</a></li>
  <li><a routerLink="feedbacks">Feedbacks</a></li>
  <li><a routerLink="patientStatistics">Patient Statistics</a></li>
  <li><a routerLink="maps" id="maps">Maps</a></li>
  <li><a routerLink="move-equipment">Move equipment</a></li>
  <li><a routerLink="report-configs">Report Configurations</a></li>
  <li><a routerLink="room-renovation">Room renovation</a></li>
  <li><a routerLink="user-blocking">User Blocking</a></li>
  <li><a routerLink="blood-subscriptions">Blood subscriptions</a></li>
  <li><a routerLink="blood-request-manager">Blood requests</a></li>
  <li><a routerLink="tenders/create">Create tender</a></li>
  <li><a routerLink="bloodBanks">Blood banks</a></li>
  <li><a routerLink="bloodBanks/add">Add blood bank</a></li>
  <li><a routerLink="managerNews">Blood bank news</a></li>
  <li><a routerLink="managerStatistics">Vacation statistics</a></li>
  <li><a routerLink="renovation-session-statistics">Renovation session statistics</a></li>
  <li><a routerLink="create-appointment-statistics">Appointment creation statistics</a></li>
  <li><a routerLink="reportStatistics">Report statistics</a></li>
  <li><a routerLink="tender-report">Tender Report</a></li>
  <li><a routerLink="appointmentStatistics">Doctor appointment statistics</a></li>

  <li (click)="logout()" style="float: right"><a>Log out</a></li>
</ul>
<!-- Ovaj navbar moze da se prebaci u posebnu komponentu navbar -->
<router-outlet></router-outlet>
