
/* ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16c2d5;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(46, 209, 5, 0.2), 0 6px 20px 0 rgba(46, 209, 5, 0.2);
}

li {
  display: inline-block;
  float: none;
}

li a {
  display: block;
  color: #0c141f;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li a:hover {
  background-color: green;
  text-shadow: 0px 0px 3012px lightgreen;
  box-shadow: 0px 0px 30px lightgreen;
} */

/*ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
  top: 0;
  z-index: 1;
  border: 2px solid lightcyan;
}

li {
  display: inline-block;
  float: none;
}

li a {
  display: block;
  color: #0c141f;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li a:hover {
  background-color: green;
  text-shadow: 0px 0px 3012px lightgreen;
  box-shadow: 0px 0px 30px lightgreen;
}*/

.navbar-container {
  background-color: #16c2d5;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-item {
  color: #192830;
  text-decoration: none;
  font-size: 1.5em;
  gap: 20px;
}

.app-content {
  display: none;
  position: absolute;
  background-color: #89dee2;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 999;
  border: 2px solid #192830;
}

/* Show the dropdown menu on hover */
.app-dropdown:hover .app-content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  row-gap: 10px;
}

.navbar-item:hover {
  text-shadow: 0 0 10px #192830;
  cursor: pointer;
}

#right {
  position: absolute;
  right: 15px;
}
