<div class="container text-center">
    <button class="m-4" mat-raised-button color="accent" matTooltip="Prijem novog pacijenta" routerLink="../admission" id="NewAdmission">
        <mat-icon>add_circle</mat-icon>
        New patient admission
    </button>

<table mat-table [dataSource]="dataSource" id="admissionTable">
    <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Patient </th>
        <td mat-cell *matCellDef="let app" class="cell-center">{{app.patient.name + ' ' + app.patient.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Room </th>
        <td mat-cell *matCellDef="let app" class="clickable cell-center" >{{app.room.number}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
        <td mat-cell *matCellDef="let app" class="cell-center">{{app.arrivalDate | date : 'dd.MM.yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Admission reason </th>
        <td mat-cell *matCellDef="let app" class="cell-center">{{app.reason.text}}</td>
    </ng-container>
    <ng-container matColumnDef="treatment">
        <th mat-header-cell *matHeaderCellDef class="cell-center">Treatment</th>
        <td mat-cell *matCellDef="let app" class="cell-center">
            <button mat-icon-button (click)="openTreatmentDialog(app.id)">
                <mat-icon matTooltip="Tretman">border_color</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="cell-center">Discharge patient</th>
        <td mat-cell *matCellDef="let app" class="cell-center">
            <button mat-icon-button  (click)="openDischargeDialog(app.id)">
                <mat-icon matTooltip="Otpusti">work</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>