.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    text-align: center;
}

.styled-table th {
    background-color: #3624aa;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    overflow: scroll;
    height: 100%;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3624aa;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #3624aa;
}