<mat-card>
    <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab  label="Room search">
                <mat-form-field appearance="fill">
                    <mat-label>Room name</mat-label>
                    <input type="tel" matInput placeholder="Search" name= "searchRoom">
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                </mat-form-field>
            </mat-tab>
            <mat-tab  label="Equipment search">
                <mat-form-field appearance="fill">
                    <mat-label>Equipment name</mat-label>
                    <input type="search" matInput placeholder="Search" name= "searchEquipment">
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
