.feedbackSection {
  overflow-y: scroll;
  background-color: lightcyan;
  margin: auto;
  width: 80%;
  height: 400px;
  padding: 0px 20px 20px 20px;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
}

.feedbackSection th {
  padding: 10px 0px;
  text-align: center;
  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightcyan;
}
.feedbackSection td {
  padding: 10px;
}

.feedbackSection td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.feedbackSection td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.feedbackSection tbody > tr:nth-child(even) {
  border-radius: 20px;
  background-color: white;
}
.feedbackSection tbody > tr:nth-child(odd) {
  border-radius: 20px;
  background-color: lightgreen;
}

.feedbackSection table {
  width: 100%;
  margin: auto;
  border-spacing: 0;
}

.feedbackSection tbody > tr:hover {
  background-color: greenyellow;
  box-shadow: 1px 1px 8px greenyellow;
}

.dateWidth {
  width: 10%;
}
.patientWidith {
  width: 20%;
}
.feedbackTextWidith {
  width: 50%;
}
.desiredVisibilityWidth {
  width: 10%;
}
.currentVisibilityWidth {
  width: 10%;
}

button {
  width: 100%;
  border: none;
  padding: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  outline: 0;
}
