<div class="feedbackSection">
  <table>
    <th>Date:</th>
    <th>Patient</th>
    <th>Feedback</th>
    <th>Desired visibility</th>
    <th>Current visibility</th>

    <tbody>
      <tr *ngFor="let feedback of feedbacksManager">
        <td class="dateWidth">
          {{ feedback.date | date: "d/M/yyyy HH:mm" }}
        </td>
        <td class="patientWidith">{{ feedback.patientFullname }}</td>
        <td class="feedbackTextWidith">
          {{ feedback.text }}
        </td>
        <td class="desiredVisibilityWidth">
          {{ convertIsPublic(feedback.isDesiredPublic) }}
        </td>
        <td class="currentVisibilityWidth">
          {{ convertStatus(feedback.status) }}
          <button
            *ngIf="feedback.status != 0 && feedback.isDesiredPublic"
            (click)="Publish(feedback.id)"
          >
            Publish
          </button>
          <p></p>
          <button
            *ngIf="feedback.status != 1 && feedback.isDesiredPublic"
            (click)="Hide(feedback.id)"
          >
            Hide
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
