.test {
  background: rgb(28, 107, 86);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.custom-modalbox >  mat-dialog-container {
  background-color: #192830;
  border: 1px solid #89dee2;
}
