<div class="container mt-2 ml-5" >
    <h2><p>Tretman</p></h2>
    <div class="container mt-2">
        <b><label>Naziv pacijenta :</label></b>
        <p [innerText]="admission.patient.name + ' ' + admission.patient.surname"></p>        
        
    </div>
    <div class="container mt-2">
        <b><label>Lek :</label></b>
        <p [innerText]="medicine.name"></p>        
        
    </div>
    <div class="container mt-2">
        <b><label>Transfuzija u ml :</label></b>
        <p [innerText]="blood.amount"></p>        
        
    </div>
    <div class="container mt-2" >
        <mat-form-field appearance="fill">
            <mat-label>Odaberite lek</mat-label>
            <mat-select [(ngModel)]="selectedMedicine" name="medicine">
              <mat-option *ngFor="let n of medicines" [value]="n">
                {{n.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="container text-center">
    <button mat-raised-button color="primary" matTooltip="Promeni lek" (click)="updateMedicine()">
        Promeni lek</button>
    </div>
    <div class="my-2">
        
            <mat-label>Količina</mat-label>
            <input type="number" matInput [(ngModel)]="amount">
        
    </div>
    <div class="my-2">   
        
            <mat-label>Razlog</mat-label>
            <textarea matInput [(ngModel)]="reason"></textarea>
        
    </div>     
    <div>
    <button mat-raised-button color="primary" matTooltip="Promeni lek" (click) = "createBloodObject()">
       Transfuzija</button>
    </div>
   
</div>