<p style="font-size: 50px; text-align: center; color: #192830; margin-top: 5%; font-family: monospace;">First Choice Health</p>
<div class="login-form">
  
  <p style="font-family: monospace; color: white; margin-left: 45%;">Login </p>
  <div class="content" [formGroup]="loginForm">
    <img class="logo" src="assets/logo.png" alt="LOGO" style="width: 50px; align-items: center;" />
    <div class="input-field">
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="Username"
      />
    </div>
    <div class="input-field">
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </div>
  </div>
  <div class="action">
    <button id="loginBtn" (click)="login()" class="login" mat-raised-button >Login</button>
  </div>
</div>
