<div class="header">Doctor Vacation Statistics</div>
<div >
    <mat-form-field appearance="fill" id="doctorSelect">
        <mat-label class="selectParent">Select doctor</mat-label>
        <mat-select [(ngModel)]="selectedDoctor" name="doctor" (selectionChange)="calculateDoctorsVacationLength(selectedDoctor)" >
          <mat-option *ngFor="let d of doctors;" [value]="d" class="select">{{d.name + " " + d.surname}}</mat-option>
        </mat-select>
      </mat-form-field>  
</div>

<div style="display: block;" class="vacation-chart">
    <canvas baseChart width="400" height="400" id="MyChart">{{ chart }}</canvas>
</div>

