<div>
    
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
            <td mat-cell *matCellDef="let app" class="clickable cell-center" >{{app.name}}</td>
        </ng-container>
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> surname </th>
            <td mat-cell *matCellDef="let app" class="cell-center">{{app.surname}}</td>
        </ng-container>
        <ng-container matColumnDef="speciality">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Speciality/th>
            <td mat-cell *matCellDef="let app" class="cell-center">{{app.speciality}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
