<div class="container mt-5 ml-5 text-center" >
    
    <div class="container mt-5">
        <mat-form-field appearance="fill">
            <mat-label>Choose patient</mat-label>
            <mat-select [(ngModel)]="selectedPatient" name="patient" id="selectPatient">
              <mat-option *ngFor="let n of patients" [value]="n" id="optionPatient">
                {{n.name + " " + n.surname}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container mt-5">
        <mat-form-field appearance="fill">
            <mat-label>Choose room</mat-label>
            <mat-select [(ngModel)]="selectedRoom" name="room" id="selectRoom">
              <mat-option *ngFor="let n of rooms" [value]="n" id="optionRoom">
                {{"Room number: " + n.number}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container mt-5">
        <mat-form-field  appearance="fill">
            <mat-label>Reason</mat-label>            
            <textarea matInput
                      cdkTextareaAutosize                      
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      [(ngModel)]="reason.text" id="reason" name="reason"></textarea>
          </mat-form-field>
    </div>
    
    <div class="container mt-5 ml-5">
        <button mat-raised-button color="primary" (click)="confirm()" id="confirm">Confirm</button>
        
    </div>
    
    </div>