<div class="container mt-5 ml-5" >
    
    <div class="container mt-5">
        <mat-form-field appearance="fill">
            <mat-label>Odaberite pacijenta</mat-label>
            <mat-select [(ngModel)]="selectedPatient" name="patient">
              <mat-option *ngFor="let n of patients" [value]="n">
                {{n.name + " " + n.surname}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container mt-5">
        <mat-form-field appearance="fill">
            <mat-label>Odaberite sobu</mat-label>
            <mat-select [(ngModel)]="selectedRoom" name="room">
              <mat-option *ngFor="let n of rooms" [value]="n">
                {{"broj sobe: " + n.number}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container mt-5">
        <mat-form-field  appearance="fill">
            <mat-label>Razlog</mat-label>            
            <textarea matInput
                      cdkTextareaAutosize                      
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      [(ngModel)]="reason" name="reason"></textarea>
          </mat-form-field>
    </div>
    
    <div class="container mt-5 ml-5">
        <button mat-raised-button color="primary" (click)="confirm()">Potvrdi</button>
        
    </div>
    
    </div>