<div class="container">
    <div>
        <h2>Blood Bank Registration</h2>
            <mat-label>Rejection comment</mat-label>
            <input matInput name="rejectionComment" type="text" [formControl]="input">
        <br>
        <mat-dialog-actions>
        <button mat-stroked-button name="submit" (click)="rejectRequest()" [disabled]="!input.value.length">
            Submit
        </button>
        <button mat-stroked-button  mat-dialog-close="cancel">
            Cancel
        </button>
         </mat-dialog-actions>
    </div>
</div>