<div>
    <mat-stepper linear #stepper>
        <mat-step [editable]="true">
            <ng-template matStepLabel>Choose source room</ng-template>
            <mat-select placeholder="Choose room" [(ngModel)]="source" (ngModelChange)="resestSourceForm()">
                <mat-option *ngFor="let r of roomList" [value]="r">
                   {{r.name}}
                </mat-option>
             </mat-select>
            <app-show-room-info [selectedRoom]="selectedSource" ></app-show-room-info>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        
        <mat-step [editable]="true">
            <ng-template matStepLabel>Choose equipment and quantity</ng-template>
            <app-select-equipment [equipmentList]="source.roomsEquipment" (selectedEquipment)="setEquipment($event)"></app-select-equipment>
            <mat-select placeholder="Choose amount" [(ngModel)]="amount">
                <mat-option *ngFor="let i of amountList " [value]="i">
                   {{i}}
                </mat-option>
             </mat-select>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [editable]="true">
            <ng-template matStepLabel>Choose destination room</ng-template>
            <mat-select placeholder="Choose room" [(ngModel)]="destination" (ngModelChange)="resestDestinationForm()">
                <mat-option *ngFor="let r of roomList" [value]="r">
                   {{r.name}}
                </mat-option>
             </mat-select>
            <app-show-room-info [selectedRoom]="selectedDestination"></app-show-room-info>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [editable]="true">
            <ng-template matStepLabel>Choose date and duration</ng-template>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [editable]="true">
            <ng-template matStepLabel>Choose appointment</ng-template>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
    </mat-stepper>
</div>
