<div class = "row">
    <div class="col" id="floorMap">
        
    </div>
    <div class="col position" *ngIf="showFloorDetailComponent">
        <!--Deo za info-->
        <mat-card>
            <mat-card-title>
                Floor informations:
            </mat-card-title>
            <mat-card-content>
            <p>X coordinate: {{temp.coordinateX}}</p>
            <p>Y coordinate: {{temp.coordinateY}}</p>
            <p>Name: {{temp.floor.name}}</p>
            <p>Number: {{temp.floor.number}}</p>
            <p>Number of rooms: {{temp.floor.roomList.length}}</p>
            </mat-card-content>
            <button class="add-button" mat-mini-fab matTooltip="Edit floor" (click)="openEditDialog()">Edit</button>
        </mat-card>
    </div>
</div>
