<div class = "row">
    <div class="justify-left">
        <button style="margin-left:0;" id="button" mat-raised-button color="primary" matTooltip="Go back to buildings" (click)="goBack()"><mat-icon>arrow_back</mat-icon> Buildings</button>
    </div>
    <div class="col" id="floorMap">
       
    </div>
    <div class="col ">
        <div class="row">
            <div class="col position">
                <mat-card *ngIf="showFloorDetailComponent">
                    <mat-card-title>
                        Floor informations:
                    </mat-card-title>
                    <mat-card-content>
                    <p>Name: {{temp.floor.name}}</p>
                    <p>Number: {{temp.floor.number}}</p>
                    <p>Number of rooms: {{temp.floor.roomList.length}}</p>
                    </mat-card-content>
                    <button class="add-button" mat-mini-fab matTooltip="Edit floor" (click)="openEditDialog()">Edit</button>
                </mat-card>
            </div>
        </div>
        
        
    </div>
</div>
