<div class = "row">
    <div class="justify-left">
        <button style="margin-left:0;" style="color: #192830; background-color:#89dee2 ;" id="button" mat-raised-button color="primary" matTooltip="Go back to buildings" (click)="goBack()"><mat-icon>arrow_back</mat-icon> Buildings</button>
    </div>
    <div class="col" id="floorMap" style="background-color: #192830; margin-left: 5%; margin-top:5%">
    </div>
    <div class="col ">
        <div class="row">
            <div class="col position">
                <mat-card *ngIf="showFloorDetailComponent" style="background-color: #192830; border: 1px solid black;">
                    <mat-card-title style="color: #89dee2">
                        Floor informations:
                    </mat-card-title>
                    <mat-card-content style="color: #e3e2d4">
                    <p>Name: {{temp.floor.name}}</p>
                    <p>Number: {{temp.floor.number}}</p>
                    <p>Number of rooms: {{temp.floor.roomList.length}}</p>
                    </mat-card-content>
                    <button class="add-button" style="color: #192830; background-color:#89dee2 ;" mat-mini-fab matTooltip="Edit floor" (click)="openEditDialog()">Edit</button>
                </mat-card>
            </div>
        </div>
        
        
    </div>
</div>
