<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Ime </th>
        <td mat-cell *matCellDef="let room" class="clickable cell-center" >{{room.patient.name}}</td>
    </ng-container>
    <ng-container matColumnDef="floor">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Prezime </th>
        <td mat-cell *matCellDef="let room" class="cell-center">{{room.patient.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
        <td mat-cell *matCellDef="let room" class="cell-center">
            <button mat-icon-button (click)="openEditDialog()">
                <mat-icon matTooltip="update">edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
        <td mat-cell *matCellDef="let room" class="cell-center">
            <button mat-icon-button (click)="openDeleteDialog()" >
                <mat-icon matTooltip="delete">delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <div>

    </div>
    <ng-template *ngIf="">

    </ng-template>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

