<div class="table-responsive">
    <table class="table">
        <tbody class="text-white">
            <tr>
                <td>Average number of steps</td>
                <td>{{averageSteps}}</td>
            </tr>
            <tr>
                <td>Average time spent per session</td>
                <td>{{averageTime}}</td>
            </tr>
            <tr>
                <td>Average number of symptoms</td>
                <td>{{averageSymptom}}</td>
            </tr>
            <tr>
                <td>Average lenght of report text</td>
                <td>{{averageReportLenght}}</td>
            </tr>
            <tr>
                <td>Average number of medicines</td>
                <td>{{averageMedicine}}</td>
            </tr>
        </tbody>
    </table>
</div>