<div>
    <div class="center-div" *ngIf="isUpdating == true">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="isUpdating == false">
        <h2>Room info:</h2>
        <p><span class="info-label">Id: </span> {{clickedRoom.id}}</p>
        <p><span class="info-label">Name: </span> {{clickedRoom.name}}</p>
        <p><span class="info-label">Number: </span> {{clickedRoom.number}}</p>
        <h2>Equipment:</h2>
        <mat-table matSort #table [dataSource]="dataSource">
    
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.equipment.id}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.equipment.name}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        
          <mat-paginator #paginator
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true">
          </mat-paginator>
    </div>
   
</div>

