.grid {
    width: 80%;
    margin: auto;
    color: white;
}

mat-grid-tile {
    background-color: rgb(33, 38, 40);
}

.header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(175, 255, 203);
    text-align: center;
}