<div class="container mt-3 d-flex justify-content-center">
  <div>


    <h2>Send to another doctor</h2>
    <div class="container mt-3">
        <mat-form-field appearance="fill">
            <mat-label>Choose patient</mat-label>
            <mat-select [(ngModel)]="selectedPatient" name="patient">
              <mat-option *ngFor="let n of patients" [value]="n">
                {{n.name + " " + n.surname}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container mt-3">
      <mat-form-field appearance="fill">
          <mat-label>Choose speciality</mat-label>
          <mat-select [(ngModel)]="selectedSpetiality" name="spetiality" (selectionChange)="getDoctors()">
            <mat-option *ngFor="let n of spetialities" [value]="n">
              {{n}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
  </div>

    <div class="container mt-3">
        <mat-form-field appearance="fill">
          <mat-label>From:</mat-label>
          <input matInput [matDatepicker]="picker1" [min]="minDate" [(ngModel)]="selectedStartDate" >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="container mt-3">
        <mat-form-field appearance="fill">
          <mat-label>To:</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="selectedEndDate" >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="container mt-3">
        <mat-form-field appearance="fill">
            <mat-label>Doctor</mat-label>
            <mat-select [(ngModel)]="selectedDoctor" name="doctor" (selectionChange)="getTerminsForAnotherDoctor()">
              <mat-option *ngFor="let n of doctors" [value]="n">
                {{n.name + " " + n.surname}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>

    <div class="container mt-3">
        <mat-form-field  appearance="fill" >
            <mat-label>Choose free termin</mat-label>
            <mat-select [(ngModel)]="selectedTermin" name="termins">
              <mat-option  *ngFor="let n of termins" [value]="n">
                {{n | date:"d.MM.  -  h:mm"}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
   
    
    <div class="container mt-5 ml-5">
        <button mat-raised-button color="primary" (click)="createAppointment()">Confirm</button>
        
    </div>
  </div>
    </div>