<div class = "row">
    <div class="col" id="buildingMap">
        
    </div>
    <div class="col position" *ngIf="showBuildingDetailComponent">
        <mat-card>
            <mat-card-title>
                Building informations:
            </mat-card-title>
            <mat-card-content>
            <p>X coordinate: {{temp.coordinateX}}</p>
            <p>Y coordinate: {{temp.coordinateY}}</p>
            <p>Name: {{temp.building.name}}</p>
            <p>Number of floors: {{temp.building.floorList.length}}</p>
            </mat-card-content>
        </mat-card>
        <!--Deo za info-->
        <!-- <button class="add-button" mat-mini-fab matTooltip="Edit room" (click)="openEditDialog()">Update</button> -->
    </div>
</div>

