<div>
    <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="room.room.id" disabled>
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="room.room.name">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input type="number" matInput [(ngModel)]="room.room.number">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Floor</mat-label>
        <textarea  matInput [(ngModel)]="room.room.description"></textarea>
    </mat-form-field>

    <button mat-stroked-button (click)="updateRoom()">
        Submit
    </button>
</div>

