<div style="background-color: #192830;">
    <mat-form-field appearance="fill" style="background-color: #2e4450; border-color: #89dee2">
        <mat-label style="color: #89dee2">Id</mat-label>
        <input style="color: #89dee2" matInput [(ngModel)]="room.room.id" disabled>
    </mat-form-field><br><br>

    <mat-form-field appearance="fill" style="background-color: #2e4450;">
        <mat-label style="color: #89dee2">Name</mat-label>
        <input style="color: #89dee2" matInput [(ngModel)]="room.room.name">
    </mat-form-field><br><br>

    <mat-form-field appearance="fill" style="background-color: #2e4450;">
        <mat-label style="color: #89dee2">Number</mat-label>
        <input style="color: #89dee2" type="number" matInput [(ngModel)]="room.room.number">
    </mat-form-field><br><br>

    <mat-form-field appearance="fill" style="background-color: #2e4450;">
        <mat-label style="color: #89dee2">Description</mat-label>
        <textarea style="color: #89dee2"  matInput [(ngModel)]="room.room.description" disabled></textarea>
    </mat-form-field><br><br>
    <button style="color: #192830; background-color:#89dee2 ;" mat-stroked-button (click)="updateRoom()" [mat-dialog-close]="">
        Submit
    </button><br>
</div>

